@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");
@import url("https://font.elice.io/EliceDigitalBaeum.css");
@import url("https://webfontworld.github.io/sandbox/SBAggro.css");
@import url("https://webfontworld.github.io/Cafe24Ohsquare/Cafe24Ohsquare.css");
@import url("https://webfontworld.github.io/kopus/KoPubWorldDotum.css");
@import url("layout.css");
@import url("input.css");
@import url("account.css");
@import url("goods.css");
@import url("detail.css");
@import url("cart.css");
@import url("mypage.css");
@import url("board.css");
@import url("aside.css");
@import url("component.css");
@import url("popup.css");
@import url("theme.css");

/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav,
section,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.06em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
  width: 100%;
}
span {
  display: inline-block;
}
a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
legend,
caption,
.hide {
  position: absolute;
  left: -99999px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
  z-index: -1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
}
th {
  font-weight: inherit;
}
hr {
  border-top: 1px solid #e6e6e6;
  border-bottom: none;
  margin: 0;
}

/*	LAYOUT	*/
/* ::-webkit-scrollbar {
  display: none;
} */
/* .container::-webkit-scrollbar {
  display: none;
} */
.btnWrap {
  display: flex;
}
html {
  font-size: 10px;
}
body.fixed {
  overflow: hidden;
}

/*	EDIT	*/
.container {
}

/*	ALL	*/
.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 360px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingContainer img {
  animation: loading 1s linear infinite;
  /*transform-origin: 50% 50%;*/
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
